@use "./partials/global" as *;
@use "./partials/animation" as *;

nav {
  background-color: $primary-color2;
}

.nitro-coffee,
.footer {
  background-color: $primary-color2;
}

section.nitro-coffee {
  width: 50%;
  height: 32rem;
  padding: 3rem 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
span.nitro-coffee {
  display: flex;
}
img.nitro-coffee {
  padding: 3rem;
}
p.nitro-coffee__p {
  text-align: left;
  width: 40%;
  padding: 3rem 0;
}
.products {
  background-color: $neutral-color3;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1.products {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.25rem;
}
.card--info {
  display: flex;
  align-items: center;
  background-color: $primary-color2;
  height: 9rem; /* not sure if this is the right way*/
}

.card--text {
  width: 70%;
  padding-left: 2rem;
  text-align: left;
}
.card--price {
  width: 30%;
  align-items: center;
}
p.card--price {
  color: $primary-color1;
  font-size: 1.8rem;
  font-weight: $font-weight3;
}

.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 1.25rem;
  height: 12rem;
}

.promo__text {
  display: flex;
  width: 50%;
  padding: 5rem;
  flex-direction: column;
}
.promo__up {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.promo__text__heading {
  padding: 2rem 0rem;
}
.promo__text__pic {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0rem;
}
.promo__text__pic img {
  width: 3.125rem;
}

.promo-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0.6rem;
  width: 50%;
  margin: 3rem;
  background-size: contain;
}
.promo-background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  width: 23rem;
  height: 23rem;
  margin: 0rem;
  background-image: url("../assets/images/coldbrewbackground.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.border-tiltedcan {
  position: absolute; /*take it out of the natural flow*/
  box-sizing: border-box;
  width: 27rem;
  height: 27rem;
  top: 1rem;
  left: 4rem;
  right: 6rem;
  bottom: 6rem;
  border: 0.3rem solid $primary-color1;
}

img.promo__pic1 {
  width: auto;
  justify-content: center;
  display: flex;
  top: 8rem;
  position: absolute;
}

p.promo {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: $neutral-color1;
  color: $neutral-color4;
  font-size: 2.5rem;
  margin: 3rem;
  font-weight: $font-weight2;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: -5;
}
b.promo__code {
  font-weight: $font-weight4;
  color: $neutral-color4;
  padding-left: 1rem;
}

p {
  font-size: 1rem;
  font-weight: $font-weight2;
  padding-bottom: 0rem;
}

ul.nitro {
  list-style-type: none;
}

ul.nitro a {
  text-transform: uppercase;
  font-weight: $font-weight2;
}

button {
  position: relative;
  width: 11.25rem;
  padding: 1.5rem;
  background-color: $primary-color1;
  border: none;
}

a.border-button-word {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: $neutral-color4;
  font-size: 1.2rem;
  border: 0.15rem solid $neutral-color1;
  padding: 1rem 1rem;
  top: -0.5rem;
  left: -0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;

  &:active {
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
  }
}

.button--container--view {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

h3 {
  font-weight: $font-weight1;
  font-size: 2.0625rem;
  padding-top: 1.25rem;
}

h1 {
  font-weight: $font-weight1;
  font-size: 3rem;
}

b.dates {
  font-style: bold;
}

img.card--pic {
  padding-top: 1rem;
  height: 17.5rem;
}
.card--title {
  font-size: 2rem;
}

.card--subtitle {
  font-size: 1rem;
  color: $neutral-color2;
}

.card {
  position: relative;
  height: 27.5rem;
  box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  width: 20.625rem;
  background-color: $neutral-color4;
  overflow: hidden;
}
.all-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.25rem;
  align-items: center;
  text-align: center;
  gap: 5px;
  margin: auto;
}

.footer-picleft {
  position: relative;
  left: -6rem;
  top: 1rem;
}
.footer-picright {
  position: relative;
  bottom: -5rem;
  left: 6rem;
  height: fit-content;
}

img.footer-coffee {
  position: relative;
  width: 5.5rem;
  opacity: 0.6;
}
