* {
  margin: 0;
  color: #393939;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
}

.bg-light {
  background-color: #fff0ed;
}

.social-nitro {
  width: 2.8rem;
}

.social {
  width: 3.125rem;
}

.nitro {
  display: flex;
  margin-left: auto;
}

.nitro li {
  display: inline-block;
  padding: 1rem;
}

li.nitro a {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3125rem;
}

.nitro a {
  font-size: 2.5rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: none;
}

.nitro ul {
  display: inline;
}

.bluetext a {
  color: #5bacc3;
}

nav {
  background-color: #fff0ed;
}

.nitro-coffee,
.footer {
  background-color: #fff0ed;
}

section.nitro-coffee {
  width: 50%;
  height: 32rem;
  padding: 3rem 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

span.nitro-coffee {
  display: flex;
}

img.nitro-coffee {
  padding: 3rem;
}

p.nitro-coffee__p {
  text-align: left;
  width: 40%;
  padding: 3rem 0;
}

.products {
  background-color: #f7f7f7;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1.products {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.25rem;
}

.card--info {
  display: flex;
  align-items: center;
  background-color: #fff0ed;
  height: 9rem; /* not sure if this is the right way*/
}

.card--text {
  width: 70%;
  padding-left: 2rem;
  text-align: left;
}

.card--price {
  width: 30%;
  align-items: center;
}

p.card--price {
  color: #5bacc3;
  font-size: 1.8rem;
  font-weight: 600;
}

.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 1.25rem;
  height: 180px;
}

.promo__text {
  display: flex;
  width: 50%;
  padding: 5rem;
  flex-direction: column;
}

.promo__up {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.promo__text__heading {
  padding: 2rem 0rem;
}

.promo__text__pic {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0rem;
}

.promo__text__pic img {
  width: 3.125rem;
}

.promo-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0.6rem;
  width: 50%;
  margin: 5rem;
  background-image: url("../assets/images/coldbrewbackground.png");
  background-size: cover;
}

.border-tiltedcan {
  position: absolute; /*take it out of the natural flow*/
  box-sizing: border-box;
  width: 100%;
  top: -1rem;
  left: -1rem;
  right: 1rem;
  bottom: 1rem;
  border: 0.3rem solid #5bacc3;
  z-index: 5;
  pointer-events: none;
}

.promo__pic1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40%;
}

p.promo {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #393939;
  color: white;
  font-size: 2.5rem;
  margin: 7rem;
  font-weight: 400;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

b.promo__code {
  font-weight: 700;
  color: white;
  padding-left: 1rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 0rem;
}

ul.nitro {
  list-style-type: none;
}

ul.nitro a {
  text-transform: uppercase;
  font-weight: 400;
}

button {
  position: relative;
  width: 11.25rem;
  padding: 1.25rem;
  background-color: #5bacc3;
  border: none;
}

button a {
  text-decoration: none;
  color: white;
  font-size: 1.3125rem;
}

.border-button {
  position: absolute; /*take it out of the natural flow*/
  box-sizing: border-box;
  width: 11.25rem;
  height: 4rem;
  top: -0.3rem;
  left: -0.3rem;
  right: 0.3rem;
  bottom: 0.3rem;
  border: 0.15rem solid black;
  z-index: 5;
  pointer-events: none;
}

.button--container--view {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

h3 {
  font-weight: 300;
  font-size: 2.0625rem;
  padding-top: 1.25rem;
}

h1 {
  font-weight: 300;
  font-size: 3rem;
}

b.dates {
  font-style: bold;
}

img.card--pic {
  padding-top: 1rem;
  height: 17.5rem;
}

.card--title {
  font-size: 2rem;
}

.card--subtitle {
  font-size: 1rem;
  color: #909090;
}

.card {
  position: relative;
  height: 27.5rem;
  box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  width: 20.625rem;
  background-color: white;
  overflow: hidden;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.25rem;
  align-items: center;
  text-align: center;
  gap: 5px;
  margin: auto;
}

.footer-picleft {
  position: relative;
  left: -6rem;
  top: 1rem;
}

.footer-picright {
  position: relative;
  bottom: -5rem;
  left: 6rem;
}

img.footer-coffee {
  position: relative;
  width: 90px;
  opacity: 0.6;
}/*# sourceMappingURL=landing.css.map */