$primary-color1: #5bacc3;
$primary-color2: #fff0ed;
$neutral-color1: #393939;
$neutral-color2: #909090;
$neutral-color3: #f7f7f7;
$neutral-color4: #fff;

$font-weight1: 300;
$font-weight2: 400;
$font-weight3: 600;
$font-weight4: 700;

* {
  margin: 0;
  color: $neutral-color1;
}
body {
  font-family: "Open Sans";
  font-weight: $font-weight2;
}

.bg-light {
  align-items: center;
  background-color: $primary-color2;
  height: 5rem;
}

.social-nitro {
  width: 2.8rem;
}

.social {
  width: 3.125rem;
}

.nitro {
  display: flex;
  margin-left: auto;
}

.nitro li {
  display: inline-block;
  padding: 1rem;
}

li.nitro a {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: $font-weight2;
  font-size: 1.3125rem;
}

.nitro a {
  font-size: 2.5rem;
  font-weight: $font-weight1;
  text-decoration: none;
  text-transform: none;
}

.nitro ul {
  display: inline;
}
.bluetext a {
  color: $primary-color1;
}
